<IfModule mod_rewrite.c>
  RewriteCond %{HTTP_HOST} ^www.cevi-buro-aarau.ch [NC]
  RewriteRule ^(.*)$ https://cevi-buro-aarau.ch/$1 [L,R=301,NC]

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

Redirect 301 /index.php?page=jungschidaten https://cevi-buro-aarau.ch/cevianer/agenda
Redirect 301 /index.php?page=jungschar https://cevi-buro-aarau.ch/interessierte
Redirect 301 /index.php?page=allgemeine-informationen https://cevi-buro-aarau.ch/interessierte
Redirect 301 /index.php?page=spenden https://cevi-buro-aarau.ch/kontakt
Redirect 301 /index.php?page=standort https://cevi-buro-aarau.ch/interessierte/standort
Redirect 301 /index.php?page=leiterteam https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=luchs https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=indi https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=jarne https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=luna https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=koffein https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=wuerfel https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=wiesel https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=floh https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=elias https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=yannis https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=sira https://cevi-buro-aarau.ch/cevianer/leiterteam
Redirect 301 /index.php?page=gruppen https://cevi-buro-aarau.ch/interessierte/schnuppern
Redirect 301 /index.php?page=celebrations https://cevi-buro-aarau.ch/interessierte/schnuppern
Redirect 301 /index.php?page=sternbaerli https://cevi-buro-aarau.ch/interessierte/schnuppern
Redirect 301 /index.php?page=medienarchiv https://cevi-buro-aarau.ch/interessierte/medien
Redirect 301 /index.php?page=ausbildung https://cevi-buro-aarau.ch/cevianer/ausbildung
Redirect 301 /index.php?page=chronik https://cevi-buro-aarau.ch/interessierte/medien
Redirect 301 /index.php?page=laedeli https://cevi-buro-aarau.ch/cevianer/laedeli
Redirect 301 /index.php?page=fotoalbum https://cevi-buro-aarau.ch/cevianer/album
Redirect 301 /index.php?page=kontakt https://cevi-buro-aarau.ch/kontakt
Redirect 301 /index.php?page=materialausleihe https://cevi-buro-aarau.ch/kontakt
Redirect 301 /index.php?page=links https://cevi-buro-aarau.ch/
RedirectMatch 301 /index.php?mact=News,cntnt01,detail,0&cntnt01articleid=([0-9]+)&cntnt01returnid=([0-9]+) https://cevi-buro-aarau.ch/
